//
// 3rd Party Libraries
//

$font-family-sans-serif: "Avenir Next", Avenir, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, sans-serif;
$font-family-serif: "Avenir Next", Avenir, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, sans-serif;
$font-family-monospace: "Avenir Next", Avenir, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, sans-serif;
$font-family-base: "Avenir Next", Avenir, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, sans-serif;
$headings-font-family: $font-family-base;

// Create grayscale
$gray-dark:                 #767676 !default;
$gray:                      gray !default;
$gray-light:                #F4F4F4 !default;
$gray-lighter:              white !default;
$gray-lightest:             white !default;

@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~ionicons-temp/scss/ionicons.scss";
@import "~nprogress/nprogress.css";
@import "~react-virtualized/styles.css";
@import "~react-select/dist/react-select.css";
@import "~react-table/react-table.css";
@import "~react-table/react-table.css";
@import "../../packages/graphql-voyager/styles.css";

.Select-menu-outer {
  position: relative;
  z-index: 100000;
}

//
// Custom Compoments
//

@import "./Header.scss";
@import "./Tabs.scss";
@import "./Grid.scss";
@import "./Sidebar.scss";
@import "./Footer.scss";
@import "./Structure.scss";
@import "./Login.scss";
@import "./ListSymbol.scss";
@import "./VirtualList.scss";
@import "./QueryPage.scss";
@import "./HomePage.scss";
@import "./Table.scss";
@import "./Graph.scss";

//
// Global style overrides
//

body {
  font-family: "Avenir Next", Avenir, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
}

.row-margin {
  margin: 5px 0;
}

* {
  outline: none;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

::selection {
  color: white;
  background: gray;
}

// @TODO: Add these to separate component
.ace_layer.ace_gutter-layer.ace_folding-enabled {
  background: white;
}
.ace_gutter-cell {
  color: #D8D8D8;
}
