.QueryPage {
  overflow: hidden;

  .ace-xcode .ace_gutter {
    background: white;
  }

  .QueryPage--actions-container {
    border: 1px solid red;
    height: 100%;
    display: flex;
    flex-direction: column;

    .QueryPage--actions-container-child {
      border: 1px solid green;
      width: 100%;
    }
  }
}
