.QueryPage {
  overflow: hidden;

  .ace-xcode .ace_gutter {
    background: white;
  }

  .QueryPage--actions-container {
    border: 1px solid red;

    .QueryPage--actions-container-child {
      border: 1px solid green;
    }
  }
}
