.Sidebar {
  overflow: scroll;
  height: 100vh;

  .Sidebar--list {
    list-style: none;
    padding: 0;
  }

  .Sidebar--list-item {
    padding: 5px;
    padding-left: 10px;
  }

  .Sidebar--list-item-selected {
    background-color: #0B54D5;
    color: white;
  }
}
