.Structure {
  background: #F4F4F4;
  height: 100%;
  padding: 50px;

  .ReactTable {
    background: white;
  }

  .rt-table {
    overflow: initial;
  }

  .rt-tbody {
    overflow: initial;
  }

  .rt-td {
    overflow: initial !important;
    // padding: 0 !important;
    // border: 1px solid #D4D4D4 !important;
  }

  .rt-tr {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Select-menu-outer {
    position: absolute;
    z-index: 1000000;
  }
}
