.virtual-list {
  position: absolute;
  top: 20%;
  left: 20%;
  height: 60%;
  width: 60%;
  border: 1px solid #CCC;
  background: #FFF;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .virtual-list-row {
    position: relative;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    box-shadow: inset 0 -1px 0 #DDD;
    overflow: hidden;
  }
}
